<div class="modal-header">
  <h6 class="modal-title" style="background: ">ADD Site From Excel File </h6>
  <button type="button" class="close" aria-label="Close" (click)="dialog.dismissAll('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="area" >
    <div class="login">
      <H5>Select File :</H5>
      <input type="file" class="file-upload" onchange="console.log(event.target.files)">
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">ADD</button>
      </div>
    </div>


  </div >
</div>
