html,body {
  width: 100%;
  height: 100%;
  margin: 0;
}

#map-mapboxx {
  width: 950px;
  height: 600px;
  background-color: white;

}

.apple-popup .mapboxgl-popup-content {
  background-color: green;
}

.apple-popup .mapboxgl-popup-tip {
  border-top-color: green;
}
.search_area {
  background-color:  rgba(255, 255, 255, 0.2);
  float:right;
  width: 400px;
  margin-right: 550px;
  height: 600px;
  display: inline;

}
#search_btn {
  float: left;
  width: 20%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

#search_btn:hover {
  background: #0b7dda;
}
.area {
  background-color:  rgba(255, 255, 255, 0.2);
  float:left;width:100px;
  width: 400px;
  margin-left: 10px;
  height: 600px;
}
.marker {

  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: red;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: green;
}

input:focus + .slider {
  box-shadow: 0 0 1px green;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.tabDevice {
  position:relative;
  width:100%;
  background-color: white;
}
.searrch {
  height: 260px;
  background-color: #279416;

}
.f
{
  width: 1200px;
  background-color: #dee2e6;
  border: #279416 ;
  border-radius: 5px;
}
.contentt {
  display: flex;
  justify-content: space-between;
}
.checkk {

  display: flex;
  flex-direction: column;
  width:60%;
}
.bSearch{
  float: right;
  width: 10%;
  padding: 2px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}
.test {
  cursor: pointer;
}
legend {
  width: 200px;
  background-color: #279416;
  color: black;
}
